@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

  /* shared styles */
  .display-flex{
    display: flex;
    
  }
  .font-size{
    font-size: 2.5rem;
    font-weight: 700;
  }
  .text-primary{
    color: #FF900E;

  }
  /* dark-02 */
  .text-gray{
    color:#424242 ;
  }
  /* dark-03 */
  .text-light-gray{
    color: #727272;
  }
  .bg-light{
    background-color:rgba(255, 144, 14, 0.1) ;
  }
  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 15px;
    font-size: 1.25rem;
    border-radius: 7px;
    font-weight: 600px;
    border: none;
  }
  main{
    max-width: 1300px;
    margin: 0 auto;
  }
  main > section{
    margin-top: 120px;
  }

  /* header styles */


  /* navbar styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
 .brand{
    font-weight: 700;
    font-size: 2.2rem;
 }
  .nav-item{
    list-style: none;
  }
  .nav-link{
    margin: 10px;
    text-decoration: none;
    
  }
  .navbar, .banner{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  

  /* banner related styles */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 3.5rem;
  }
  .banner img{
    width: 100%;
    margin: 0 auto;
    
  }

  /* team and feature related styles */
  .teams{
    align-items: center;
  }
  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .our-features{
    margin-left: 100px;
    max-width: 450px;
    max-height: 270px;
  }
  .feature-title{
    font-size: 2.6rem;
    
  }
  .feature-description{
    margin-top: -20px;
  }
  #quick-list{
    font-weight: lighter;
    color: #727272;
  }

  /* features related style */
  #feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 2.5rem;
  }
  .features{
    gap: 120px;
  }
  .features-card .features-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
  }
  .features-card{
    padding: 25px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
    border-radius: 8px;
  }

/* facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    border-radius: 7px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 550px;
}

/* our sponsors relative styles */
.sponsors-info{
    align-items: center;
    max-width: 550px;
    margin: 30px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}


  /* responsive media query */
  @media screen and (max-width: 576px) {
    .navbar, .teams{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: flex;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin: 20px;
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }
  }